<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Log4Shell Vulnerability Test Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This tool allows you to check whether one of your applications is affected by the recent vulnerabilities in log4j: CVE-2021-44228 and CVE-2021-45046">
    {{ if .Test }}
      {{ if not (IsTestDone .Test) }}
        <meta http-equiv="refresh" content="5">
      {{ end }}
    {{ end }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
      .content {
        padding-top: 35px;
        max-width: 1100px;
        margin: 0 auto;
        padding-bottom: 150px;
        padding-right: 10px;
        padding-left: 10px;
      }
      footer {
        max-width: 1100px;
        margin: 0 auto;
        padding-right: 10px;
        padding-left: 10px;
      }
      th {
        white-space: nowrap;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 100">
        <div class="toast hide align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
              Copied to the clipboard
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="d-flex align-items-center">
              <h1 class="mb-0"><a class="text-decoration-none" href="/">Log4Shell Vulnerability Test Tool</a></h1>
              <a href="https://github.com/alexbakker/log4shell-tools" target="_blank" role="button" class="d-flex align-items-center btn btn-light ms-auto">
                <span class="me-0 me-sm-2">
                  <svg style="width: 1rem; height: 1rem;" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>GitHub</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
                </span>
                <span class="d-none d-sm-inline-block">View source</span>
              </a>
            </div>
            {{ if gt .ActiveTests 0 }}
              <span class="fs-6 text-muted">({{ .ActiveTests }} tests currently active)</span>
            {{ end }}
            <p class="mt-3">
              This tool allows you to run a test to check whether one of your
              applications is affected by the recent vulnerabilities in log4j:
              <a class="text-dark" target="_blank"
              href="https://nvd.nist.gov/vuln/detail/CVE-2021-44228"><b>CVE-2021-44228</b></a>
              and <a class="text-dark" target="_blank"
              href="https://nvd.nist.gov/vuln/detail/CVE-2021-45046"><b>CVE-2021-45046</b></a>.
              When you hit 'Start', the tool will generate a unique JNDI URI for
              you to enter anywhere you suspect it might end up being processed
              by log4j. If log4j triggers so much as a DNS lookup, this tool
              will tell you about it.
            </p>
            <p>
              You may only use this tool on machines that you have permission
              to test on.
            </p>
            {{ if .Error }}
              <div class="alert alert-danger" role="alert">
                {{ .Error }}
              </div>
            {{ end }}
            <form method="GET" action="/">
              <div class="mb-3">
                <label for="input-uuid" class="form-label">Test ID</label>
                <input type="text" class="form-control" name="uuid" id="input-uuid" value="{{ .UUID }}" readonly>
              </div>
              <div class="mb-3 form-check">
                <input class="form-check-input" type="checkbox" value="y" name="terms" id="input-terms" required {{ if .Test }}checked disabled{{ end }}>
                <label class="form-check-label" for="input-terms">
                  I'm testing a device that I personally own, or a device for which I have permission from the owner to run this test
                </label>
              </div>
              <input class="btn btn-primary" type="submit" value="Start" {{ if .Test }}disabled{{ end }}>
            </form>
          </div>
        </div>
        {{ if .Test }}
        <div class="row">
          <div class="col">
            <h2 class="mt-5">
              {{ if IsTestDone .Test }}
                Finished
                {{ if IsTestTimedOut .Test }}
                  <span class="fs-6"> (The test timed out)</span>
                {{ end }}
              {{ else }}
                <div class="spinner-border text-primary fs-6" role="status">
                  <span class="visually-hidden">Waiting...</span>
                </div>
                Waiting
              {{ end }}
            </h2>
            {{ if not (IsTestDone .Test) }}
              <p>Copy the texts below and paste them anywhere you suspect it might end up being processed by log4j:</p>
              <label for="input-uri-ldap" class="form-label">LDAP</label>
              <div class="mb-3 input-group">
                {{ if .DNSEnabled }}
                  <input type="text" class="form-control fw-bold" id="input-uri-ldap" value="${jndi:ldap://{{ .Test.ID }}.{{ .DNSZone }}{{ .AddrLDAP }}/{{ .Test.ID }}}" readonly>
                {{ else }}
                  <input type="text" class="form-control fw-bold" id="input-uri-ldap" value="${jndi:ldap://{{ .AddrLDAPExternal }}/{{ .Test.ID }}}" readonly>
                {{ end }}
                <button class="btn btn-outline-dark" id="button-input-uri-ldap" type="button">Copy</button>
              </div>
              {{ if .DNSEnabled }}
                <label for="input-uri-dns" class="form-label">DNS</label>
                <div class="mb-3 input-group">
                  <input type="text" class="form-control fw-bold" id="input-uri-dns" value="${jndi:dns://{{ .Test.ID }}.{{ .DNSZone }}}" readonly>
                  <button class="btn btn-outline-dark" id="button-input-uri-dns" type="button">Copy</button>
                </div>
              {{ end }}
            {{ end }}
            <div class="alert alert-primary" role="alert">
              If any entries appear in the log below, you should immediately take action to
              <a href="https://logging.apache.org/log4j/2.x/security.html#Fixed_in_Log4j_2.15.0">mitigate the vulnerability</a>.
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Type</th>
                    <th scope="col">Source</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range $val := (GetTestResults .Context .Test) }}
                    <tr class="table-{{ $val.Color }}">
                      <th scope="row">{{ $val.Created.Format "2006-01-02 15:04:05" }}</th>
                      <td>{{ $val.Type }}</td>
                      <td>{{ if $val.Ptr }}{{ $val.Ptr }}{{ else }}{{ $val.Addr }}{{ end }}</td>
                      <td>
                        {{ if eq $val.Type "recv_ldap_search" }}
                          LDAP search query received. At the very least, your log4j deployment supports doing lookups. This can lead to information leakage.
                        {{ else if eq $val.Type "recv_http_get" }}
                          GET request for RCE payload payload received.
                        {{ else if eq $val.Type "recv_dns_query" }}
                          DNS query received. It is likely that your log4j deployment supports doing lookups. This can lead to information leakage.
                        {{ end }}
                      </td>
                    </tr>
                  {{ end }}
                </tbody>
              </table>
              <p><i>Timestamps are in UTC. Test results are permanently deleted after 24 hours.</i></p>
            </div>
          </div>
        </div>
        {{ end }}
        <div class="row">
          <div class="col">
            <h2 class="mt-5">Changelog</h2>
            <p>When significant changes are made to the functionality of the tool, I'll post an update here.</p>
            <h4>2021-12-14</h4>
            <p>
              The tool now supports detection through DNS. The
              <code>jndi:ldap://</code> URI that is generated for your unique test
              ID now also contains a unique <b>*.dns.log4shell.tools</b> name.
              With that, the first signs of information leak vulnerability already appear
              when log4j performs a DNS lookup, before even connecting to the LDAP
              server. This should significantly reduce the number of false
              negatives when testing on machines that don't directly have access
              to the internet or can't connect to log4shell.tools for some other
              reason.
            </p>
            <p>
              Newly generated LDAP JNDI URI's now use this feature by default. There's a dedicated <code>jndi:dns://</code> option as well.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2 class="mt-5">FAQ</h2>
            <p>Here's a short list of frequently asked questions. If yours is not answered here, feel free to reach out.</p>
            <h5>What is CVE-2021-44228?</h5>
            <p>
              <a href="https://nvd.nist.gov/vuln/detail/CVE-2021-44228">CVE-2021-44228</a>
              is a vulnerability in the popular log4j library by Apache. In the
              worst case, it allows bad actors to execute code on any server
              where they're able to get log4j to process a malicious log
              message.
            </p>
            <p>
              If you're using log4j or a product that depends on log4j, you should act on this immediately.
            </p>
            <h5>Can I use this tool to test for CVE-2021-45046 as well?</h5>
            <p>Yes.</p>
            <h5>What can I do to protect myself?</h5>
            <p>Please read the official advisory from Apache: <a href="https://logging.apache.org/log4j/2.x/security.html#Fixed_in_Log4j_2.15.0">https://logging.apache.org/log4j/2.x/security.html#Fixed_in_Log4j_2.15.0</a>.</p>
            <h5>What does this tool do?</h5>
            <p>
              The tool generates a unique ID for you to test with. After you
              click start, we'll generate a piece of text for you that looks
              similar to this: <b>${jndi:ldap://*.dns.log4shell.tools:12345/*}</b>.
              Copy it and paste it anywhere you suspect it might end up getting
              passed through log4j. For example: search boxes, form fields or
              HTTP headers.
            </p>
            <p>
              Once an outdated version of log4j sees this string, it will
              perform a DNS lookup to get the IP address of
              <b>*.dns.log4shell.tools</b>. If this happens, it is considered
              the first sign of vulnerability to information leakage. Next, it
              will attempt and LDAP search request to
              <b>log4shell.tools:12345</b>. The tool responds with a Java class
              description, along with a URL for where to obtain it. Log4j may
              even attempt to fetch the class file. The tool will return a 404
              and conclude the test.
            </p>
            <h5>Am I safe if the tool doesn't report anything after the test?</h5>
            <p>
              Not necessarily. If the machine you're testing on does not have
              access to the internet or can't reach <b>log4shell.tools</b> for
              some other reason, the results will not be accurate. The tool is
              only meant to give you a rough assessment of what someone with no
              special access to your environment would be able to do.
            </p>
            <p>
              The only way to make sure you're safe, is to start applying
              patches.
            </p>
            <h5>Is there any chance that the tool reports a false positive?</h5>
            <p>
              The DNS lookup detection feature may result in a false positive in
              some cases. For example, this can happen if the environment you're
              testing has some other tooling that is examining the logs or the
              traffic on the network. If the tooling finds anything suspicious,
              it may perform a DNS lookup as part of its analysis. This will
              lead us to believe that we triggered a lookup in log4j, while that
              was actually not the case.
            </p>
            <h5>Isn't releasing such a tool to the public dangerous?</h5>
            <p>
              I believe in arming the public with the same tools that the bad
              actors we're up against already have. Especially in this case
              where the vulnerability is so trivial to exploit. Anyone with some
              decent Google-fu will be able to find a full PoC (including RCE)
              within minutes. The goal is to contribute to leveling the playing
              field by allowing anyone to perform a rough assessment of how
              vulnerable they are to this log4j vulnerability.
            </p>
            <p>
              Especially if your product runs on a service where you don't have
              enough access to update log4j or change its options, a test result
              from a tool like this might be enough to get the attention of the
              right people.
            </p>
            <h5>Does this tool perform RCE (remote code execution)?</h5>
            <p>
              No. It runs the exploit right up until your device requests the
              RCE payload, then it returns a 404 and concludes the test.
            </p>
            <h5>What is the privacy policy?</h5>
            <p>
              The tool stores test results, IP addresses and PTR records of the servers
              that reach out to it. All test results and any information
              collected along with it is automatically permanently deleted
              after 24 hours.
            </p>
            <p>
              No information is shared with third parties. To ensure the privacy
              of your test results, do not share your unique test ID with anyone
              else.
            </p>
            <h5>Is this tool open source?</h5>
            <p>
              Yes! The code is available on GitHub:
              <a target="_blank" href="https://github.com/alexbakker/log4shell-tools">https://github.com/alexbakker/log4shell-tools</a>.
            </p>
            <h5>Is this tool affiliated with the Apache Software Foundation?</h5>
            <p>No.</p>
            <h5>I have another question / found an issue. How can I contact you?</h5>
            <p>
              Feel free to <a href="mailto:contact@alexbakker.me">send me an
              email</a>. If you're reporting a security issue, please don't
              discuss it in public before I've had an opportunity to fix it.
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer container-fluid py-4">
        <p>Built by <a href="https://alexbakker.me" target="_blank">Alexander Bakker</a></p>
      </div>
    </footer>
    <script>
      window.addEventListener("DOMContentLoaded", (event) => {
        let toastELems = [].slice.call(document.querySelectorAll(".toast"))
        let toast = new bootstrap.Toast(toastELems[0]);

        function copyToClipboard(text) {
          navigator.clipboard.writeText(text).then(function() {
            toast.show()
          }, function(err) {
            console.error("Failed to copy to the clipboard", err);
          });
        }

        function registerCopyListener(field) {
          let uriInput = document.getElementById(field);
          let copyBtn = document.getElementById(`button-${field}`);
          if (copyBtn != null) {
            copyBtn.addEventListener("click", () => {
              copyToClipboard(uriInput.value)
            });
          }
        }

        registerCopyListener("input-uri-ldap");
        registerCopyListener("input-uri-dns");
      });
    </script>
  </body>
</html>
